<% include header %>
<div class="pt-5 col-md-6 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Password change</h3>
        </div>
        <div class="card-body">
            <form action="/user/changePass?_method=patch" method="post">
                <label for="oldPassword">Old password:</label>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="password" name="oldPassword" id="oldPassword" 
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" 
                        title="Minimum of 8 characters, one lowercase letter,one uppercase letter and a number"
                        <% if (formData) { %>
                            value="<%= formData.oldPassword %>"
                        <% } %>
                        required>
                </div>

                <label for="newPassword">New password:</label>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="password" name="newPassword" id="newPassword" 
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" 
                        title="Minimum of 8 characters, one lowercase letter,one uppercase letter and a number"
                        required>
                </div>

                <label for="newPassword2">Verify new password:</label>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="password" name="newPassword2" id="newPassword2" 
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" 
                        title="Minimum of 8 characters, one lowercase letter,one uppercase letter and a number" 
                        required>
                </div>

                <div class="form-group">
                    <input class="btn btn-primary btn-block" type="submit" value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>
<% include footer %>