</main>
<footer class="footer bg-white mt-5 pt-4 px-4">
    <div class="row">
        <div class="col-12 col-lg-2">
            <h5>Contact</h5>
            <hr>
            <ul class="fa-ul mx-0">
                <li>
                    <i class="fas fa-phone fa-lg fa-fw"></i>&nbsp;XXXX-XXXX-XXXX
                </li>
                <li class="pt-3">
                    <i class="fas fa-map-marker-alt fa-lg fa-fw"></i>&nbsp;XXXX, XXXX
                </li>
                <li class="pt-3">
                    <i class="fas fa-envelope fa-lg fa-fw"></i>&nbsp;XXXX@XXX.XX
                </li>
            </ul>
            
        </div>
        <div class="col-12 col-lg-2">
            <h5>Links</h5>
            <hr>
            <ul class="list-unstyled">
                <li class="mt-2">
                    <a class="text-secondary" href="/">Home</a>
                </li>
                <li class="mt-2">
                    <a class="text-secondary" href="/contact">Contact</a>
                </li>
                <li class="mt-2">
                    <a class="text-secondary" href="/about">About</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-8">
            <h5>About the company</h5>
            <hr>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id nulla sed leo efficitur imperdiet.
                Fusce sodales odio nec sapien fringilla, vitae pharetra justo feugiat. Cras eleifend posuere nulla at varius.
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec nunc eros.
                Nunc ut commodo nisi, sit amet auctor urna. Sed interdum massa vel lectus viverra molestie.
                Etiam egestas pulvinar augue, eu suscipit tellus lacinia eget.
            </p> 
        </div>
    </div>
</footer>

<% if (msg.length > 0) {%>
    <% for (let i = 0; i < msg.length; i++) { %>
        <div class="message alert alert-info col-12 col-md-6 text-center alert-dismissible" role="alert">
            <span><%= msg[i] %></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% }%>
<% }%>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>